/* Reset CSS */
* {
	box-sizing: border-box;
}

html,
body,
h1,
h2,
p,
ul,
li,
label {
	margin: 0;
	padding: 0;
}

/* Fonts */
@font-face {
	font-family: 'Ubuntu Bold';
	font-weight: 700;
	src: url('../assets/fonts/Ubuntu-Bold.ttf') format('truetype');
}

@font-face {
	font-family: 'Ubuntu Medium';
	font-weight: 500;
	src: url('../assets/fonts/Ubuntu-Medium.ttf') format('truetype');
}

@font-face {
	font-family: 'Ubuntu Regular';
	font-weight: 400;
	src: url('../assets/fonts/Ubuntu-Regular.ttf') format('truetype');
}

body {
	font-family: 'Ubuntu Regular', Arial, sans-serif;
	font-size: 16px;
}

label {
	font-family: 'Ubuntu Medium', Arial, sans-serif;
	font-size: 14px;
}
